<ion-view >
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="element in list.items" href="#/watchedApi/{{list.url}}/{{element.id}}">
        <a class="item item-thumbnail-left" href="#">
          <img ng-src="{{element.poster_path_url}}">
          <h2>
            {{element.name}}
          </h2>
          <p>Vote: {{element.vote_average | number:1}}</p>
        </a>
      </ion-item>
    </ion-list>
  </ion-content>
  </ion-view>

<ion-tabs class="tabs-positive tabs-icon-top">

  <ion-tab title="My List" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" href="#/app/tv/personal">
    <!-- Tab 1 content -->
  </ion-tab>

  <ion-tab title="Popular" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/app/tv/popular">
    <!-- Tab 2 content -->
  </ion-tab>

  <ion-tab title="All" icon-on="ion-ios-world" icon-off="ion-ios-world-outline" href="#/app/tv/all">
    <!-- Tab 3 content -->
  </ion-tab>

</ion-tabs>
  
